{% extends 'base.html' %} 
{% load static %}

{% block title %}Home page{% endblock %}



{% block content %}

  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Info Nutrition</h1>
    <img src="{% static 'img/nice.jpg' %}" class="img-fluid" alt="thumbnail">
    
    <p class="fs-5 text-muted">Start your healthy lifestyle by reviewing and managing your nutritions. Get detailed information about ingredients. If you are a person who does sports or just wants to improve diet or simple one who chose healthy lifestyle, Join us to start your healthy diet!</p>
  </div>


{% endblock %}

