<div class="nav-scroller mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 link-secondary" href="{% url 'visualization' %}">Basic Stats</a>
      <a class="p-2 link-secondary" href="{% url 'basic_food' %}">Basic Ingredients</a>
      <a class="p-2 link-secondary" href="{% url 'calories' %}">Calories</a>
      <a class="p-2 link-secondary" href="{% url 'protein' %}">Protein</a>
      <a class="p-2 link-secondary" href="{% url 'fat' %}">Fat</a>
      <a class="p-2 link-secondary" href="{% url 'sat_fat' %}">Sat.Fat</a>
      <a class="p-2 link-secondary" href="{% url 'fiber' %}">Fiber</a>
      <a class="p-2 link-secondary" href="{% url 'carbs' %}">Carbs</a>
    </nav>
</div>