body {
    background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}
  
.container {
max-width: 960px;
}
  
.pricing-header {
max-width: 700px;
}
  


.img-fluid{
    border-radius: 5%;
}

.nav-link-item:hover,
.nav-link-item:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}
.nav-link-item.active{
    color: #fff;
    border-bottom-color: red!important;
}


.chip {
    display: inline-block;
    margin: 5px 3px;
    padding: 0 20px;
    height: 40px;
    font-size: 15px;
    line-height: 40px;
    border-radius: 25px;
    background-color: #f1f1f1;
    color: #000;
    border: none;
  }

  .chip:hover {
    background-color: #ccc8c8;
  }

